@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Post

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LectureStudentService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addimage.css" asp-append-version="true" />
</head>
<body>
    <div class="containercenter">
      <div class="updatepost">
        <div class="profile_section">
          <div class="prof_back">
            <img src="profpic.png" class="prof_pic" alt="" />
          </div>
          <p class="username">giorgi tsereteli</p>
        </div>

        <form method="post" class="postform">
          <div class="upload_img">
            <div class="img_content" onclick="changeImageSource(this)">
                <img src="" />
            </div>          
               <input type="file" name="file" class="img_upload_button"/>
          </div>

          <div class="">
            <input type="text" class="title postinput" placeholder="Title" />
            <input type="text" class="post postinput" placeholder="Post" />
          </div>

          <button class="button" type="submit" data-text="Awesome">
            <span class="actual-text">&nbsp;Upload_Post&nbsp;</span>
            <span aria-hidden="true" class="hover-text"
              >&nbsp;Upload_Post&nbsp;</span
            >
          </button>
        </form>
      </div>
      </div>
</body>
</html>
