

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Profile update</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/UploadPost.css" asp-append-version="true" />
</head>
<body>
    @model User
       <div class = "EditProfileContainer">
              <div class ="ShareDay">
                  Share Your day Here...
              </div>
           <form asp-action="PostPublish" method="post" enctype="multipart/form-data" class="Profile_Photo_Update" id = "Profile_Photo_Update">
              <div class="form-group">
                  <div class = "ProfileData">
                  </div>
                  <div class="InputClasss">
                     <input type="text" class= "saysomething"  id = "saysomething" placeholder="Whats on your Mind?" name="PostPost">
                     <input id="imageInput2" class="custom-file-input" type="file" name="ImageFile" accept="image/*" onchange=" previewImage(event) " />
                  </div>
                  <div class="ProfilePreviewCont" id = "ProfilePreviewCont">
                     <img id="ProfilePreview" src="" />
                  </div>
              </div>         
              <div class="submitbutton">
                  <button class="EditButton" type="submit" data-text="Awesome" id="submitBtn2">Upload Post </button>
              </div>
           </form>  
          </div>
    <script src="/js/UploadPost.js"></script>
</body>
</html>
