html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
}

.fixedelemt {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background: url(../img/darkback5.jpeg);
}
.homepage {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.foryoupage {
    width: clamp(280px, 100%, 900px);
    display: flex;
    flex-direction: column;

    align-items:center;
}
.viewbag{
    font-size:40px;
    color:white;
}

.MyPosts {
    width: clamp(280px, 105%, 900px);
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
