.Each_Post {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px;
    height: auto;
    padding: 20px 0px 40px 0px;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    background-color: #212121;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom:30px;
}

.Postcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Like {
    color: white;
}

.comclick {
    color: white;
}

.MyUsername {
    color: white;
    margin:0;
}

.PostProfile {
    width: 60px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    border:none;
}
.Follow {
    color: white;
    font-size: 20px;
    transition: 0.2s all ease-in-out;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
}
.userdata {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    border:none;
    background-color:transparent;
    padding:0;
}
.displaynoneForms{
    display:none;
}
.namephotoflex {
    display: flex;
    gap: 5px;
    align-items:center;
}

.titlegrey {
    font-size: 15px;
    color: gray;
    font-weight: 100;
}

.flextitles {
    width: 500px;
    color: white;
}

.imgofpost {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    max-height: 600px;
}
.imgofpost2 {
    width: 450px;
    height: 450px;
    border: 2px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.Post_photowidth2 {
    width: 450px;
    height: auto;
}
.photocontentwitdth {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.Post_photowidth {
    width: 500px;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    max-height: 600px;
}

.MyUsername {
    font-size: 20px;
    color: white;
}
.UpdateProfile{
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.UpdatedText{
    color:grey;
    font-size:15px;
    margin:0;
    margin-left:5px;
}
.UpdateTextAndNameFlex{
    display:flex;
    align-items:flex-start;
    flex-wrap :wrap;
}
.postDateParent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    box-shadow: 0px 0px 10px black inset;
}
.datetimetracking {
    color: grey;
    font-size: 12px;
    margin: 0;
}
.Name_lastname {
    font-size: 13px;
}
.FollowToPerson{
    width:90%;
    display:flex;
    justify-content:flex-end;
}
/*Comment section */
.commentSection {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    padding:20px 0px 0px 0px;
    border-top:2px solid white;
    overflow-x:hidden;
    align-items:center;
}
.commentSection::-webkit-scrollbar-button {
    display: none;
    height:0px;
}
.commentSection::-webkit-scrollbar {
    width: 8px;
}
.commentSection::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px; 
}

.comment_likes {
    width: clamp(280px, 100%, 500px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comclick {
    font-size: 20px;
    font-weight: 600;
    cursor:pointer;
    background-color:transparent;
    border:none;
    outline:none;

}

.Cont input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.Cont {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: 100ms;
}

.checkmark {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    fill: blue;
}

.Cont input:checked ~ .checkmark path {
    fill: #FF5353;
}

.Cont input:checked ~ .checkmark {
    animation: like_effect 400ms ease;
}

.Cont:hover {
    transform: scale(1.1);
}


@keyframes like_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
.EachComment_Patent{
    width:90%;
}
.eachcomment {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top:20px;
}
.Comment_data_Parent{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:10px;
}
.UserName_Datetime{
    display:flex;
    gap:10px;
    height:10px;
}
.Datetime_Comment{
    color:grey;
}
.profilepic {
    width: 40px;
    height: auto;
}
.CoomenterprofileComntainer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    flex-direction:column;
    border:1px solid white;
}
.LiteralComment {
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 0;
    max-width: 300px;
    word-wrap: break-word;
}
.commenterphtotousername{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.commenterUsername {
    color: white;
    font-size: 14px;
}
.commenterProfile {
    display: flex;
    gap: 10px;
}
.commenterProfile {
    display: flex;
    gap: 10px;
    padding-bottom:20px;
}

.eachcomment {
    border-bottom: 1px solid gray;
}
.Like {
    background-color: transparent;
    color: white;
    border: none;
    transition: 0.2s all ease-in-out;
    font-size: 25px;
    text-decoration: none;
    gap: 10px;
}

.Like:hover {
    letter-spacing: 1px;
    animation: rotateInCircle 0.3s linear infinite;
    color: white;
}

@keyframes rotateInCircle {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(2deg);
    }

    70% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.LikeCount {
    color: white;
    font-size: 15px;
}

.Add_Comment_section {
    width: 100%;
    padding:20px 0px 0px 0px;
}

.CommentForm {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
}

.CommetnInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    color: white;
    width: 80%;
    outline:none;
    border-radius:0px;
}

.Submitcomment {
    color: white;
    background-color: #2d2b2b;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px black;
    width:auto;
}



.commentInputStyle::placeholder {        
    color: white;
}

.submitbuttonlogin {
    border-radius: 5px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    height: 25px;
    font-size: 15px;
    transition: 0.2s all ease-in-out;
    display: flex;
    align-items: center;
    color: white;
}

.submitbuttonlogin:hover {
    background-color: black;
    color: whitesmoke;
}
.LoaderContainer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.loader {
    width: 65px;
    height: 60px;
    background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0), linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0), linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
    transition: 1s all ease-in-out;
    z-index: 5000;
}

@keyframes matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%
    }
}

/*Media queryes*/
@media only screen and (max-width: 700px) {
    .Each_Post {
        width: 480px;
        padding: 20px 0px 20px 0px ;
    }
    .comment_likes {
        width: clamp(280px, 100%, 500px);
    }
    .userdata {
        width:400px;
    }
    .Post_photowidth{
        width:400px;
        height:auto;
    }
    .imgofpost {
        width: 400px;
        height: auto;
        max-height:600px;
    }
    .flextitles{
        width:400px;
    }
    .DeltePostButton{
        width:80px;
        font-size:12px;
    }
    .imgofpost2 {
        width: 350px;
        height: 350px;
    }
    .Post_photowidth2 {
        width: 350px;
    }
}

@media only screen and (max-width: 500px) {

    .Each_Post {
        width:380px;
        border-radius: 5px;
        gap:10px;
    }
    .postdate {
        font-size: 12px;
    }

    .comment_likes {
       width: 300px;
    }

    .userdata {
        width: 300px;
    }

    .Post_photowidth {
        width: 300px;
    }

    .imgofpost {
        width: 300px;
        height: auto;
        max-height:450px;
    }
    .PostProfile{
        width:60px;
        height:auto;
    }
    .MyUsername{
        font-size:16px;
    }
    .UpdatedText{
        font-size:12px;
    }
    .datetimetracking{
        font-size:10px;
    }
    .flextitles{
        width:300px;
    }
    .Follow {
        font-size: 15px;
    }
    .imgofpost2 {
        width: 300px;
        height: 300px;
    }

    .Post_photowidth2 {
        width: 300px;
    }
    .LiteralComment {
        max-width:200px;
    }
}
@media only screen and (max-width: 400px) {

    .Each_Post {
        width: 350px;
        border-radius: 5px;
    }

    .comment_likes {
        width: 250px;
    }

    .userdata {
        width: 250px;
    }

    .Post_photowidth {
        width: 250px;
    }
    flexPText {
        font-size: 10px;
    }
    .imgofpost {
        width: 250px;
        height: auto;
        max-height: 450px;
    }
    .flextitles{
        width:250px;
    }
    .DeltePostButton {
        width: 60px;
        height: 20px;
        font-size: 9px;
        border-radius:3px;
    }
    .UpdatedText {
        font-size: 9px;
    }
    .Follow{
        font-size:12px;
    }
    .imgofpost2 {
        width: 200px;
        height: 200px;
    }

    .Post_photowidth2 {
        width: 200px;
    }
}
@media only screen and (max-width: 350px) {

    .Each_Post {
        width: 300px;
        border-radius: 5px;
    }
    .LiteralComment{
        max-width:200px;
        font-size:14px;
    }
    .Datetime_Comment{
        font-size:15px;
    }
    .eachcomment{
        align-items:center;
    }
}
@media only screen and (max-width: 300px) {

    .Each_Post {
        width: 270px;
        border-radius: 5px;
    }

    .comment_likes {
        width: 230px;
    }

    .userdata {
        width: 230px;
    }

    .Post_photowidth {
        width: 230px;
    }

    flexPText {
        font-size: 10px;
    }

    .imgofpost {
        width: 230px;
        height: auto;
        max-height: 350px;
    }

    .flextitles {
        width: 230px;
    }
}
