
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.fixedContainerBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/darkback5.jpeg);
    top:0;
    left:0;
}
.ParentOfParents {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    z-index:0;
}
.containercenter{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content : center;
    margin-top:80px;
    flex-direction:column;
    gap:40px;
    z-index:500;
}
.nav-item{
    display:flex;
    align-items:center;
    text-decoration:none;
}
.exitimg{
    width:40px;
    transition:0.3s all ease-in-out;    
}
.ExitFromAccount {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 5;
}
.ExitButton{
    color:white;
    font-size:20px;
    text-decoration:none;
    transition:0.3s all ease-in-out; 
}
.nav-item:hover .ExitButton{
    text-shadow: 0px 0px 10px white;
    color: white;
}
.borderspan {
    width: 0px;
    height: 2px;
    transition: 0.3s all ease-in-out;
}
.nav-item:hover .borderspan {
    border: 1px solid red;
    width: 160px;
    color:white;
}
.nav-item:hover .exitimg {
}
.fileinput2 {
    color: black;
    background-color: red;
}
.upload_img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 25, 25);
}

.img_content {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(backgroundupload.png);
    background-size: cover;
    border: none;
}

.updatepost {
    width: clamp(280px, 75%, 900px);
    height: auto;
    padding: 20px 0px 10px 0px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 20px black;
    background-color:ghostwhite;
    color:black;
    z-index:500;
}
.editbutton{
    background-size:cover;
    background-color:transparent;
    border:none;
    width:auto;
    height:60px;
    display:flex;
    flex-direction:column;
    cursor:pointer;
}
.editimage{
    width:30px;
}
.commentinput{
    width:100%;
    height:40px;
}
.commentInputStyle {
    display: flex;
    width: 95%;
    height: 40px;
}
.changebuttons {
    border: none;
    background-color: transparent;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-weight:bold;
    cursor: pointer;
    width:100px;
    border-bottom:1px solid gray;
    text-align:center;
}
.Xbutton{
    border:None;
    font-size:20px;
    transition:0.3s all ease-in-out;
}
.Xbutton:hover{
    color:red;  
}
#ChangeButtonsParent {
    display: flex;
    flex-direction: column;
    width: 0px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    margin-left: 20px;
}

.changebuttonsdiv {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.Xbuttonalign{
    display:flex;
    justify-content:flex-end;
}
.editFlex {
    display: flex;
}
.profile_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.prof_back {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prof_pic {
    width: 155px;
    transition: 0.3s all ease-in-out;
    border-radius: 50%;
}

.prof_back::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    margin:50px 0px 0px 100px;
    transition: background-color 0.3s ease-in-out;
}

.prof_back.offline::after {
    background-color: red;
}

.prof_pic:hover {
    transform:scale(1.2);
}

.user {
    height: 100%;
}

.username {
    font-family: sans-serif;
    color: black;
    font-size: 25px;
}

.postinput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    color: black;
    height: 50px;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.postform {
    gap: 20px;
}

.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: whitesmoke;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: black;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    border: 1px solid grey;
    text-shadow: 0px 0px 3px white;
    margin-top: 20px;
    background-color:black;
    border-radius:10px;
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: black;
    width: 0px;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
}
.Profile_data{
    width:auto;
    height:auto;
    padding: 0px 10px 0px 10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.userName{
    font-size:20px; 
    color:black;
    font-family:sans-serif;
}
.profileandName{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#ProfilePreview {
    width: 180px;
    transition: 0.3s all ease-in-out;
}
#ProfilePreview:hover {
    transform: scale(1.1);
}
#ProfilePictureCont {
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(26, 25, 25);
    background:url(../img/profileback.jpg);
    background-size:cover;
    border:2px solid white
}
.fileinput {
    color:black;
}

/*My Post */
.MyPosts {
    width: clamp(280px, 75%, 900px);
    height: auto;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
   