.nav-item {
    color: white;
}

.container-fluid {
    display: flex;
    gap:30px;
}
.Tsero_Social{
    color:white;
    display:flex;
    align-items:center;
    text-decoration:none;
}
.Tsero_Social:hover {
    color: white;
}
.navigatorrs {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(60px);
    z-index: 5000;
    box-shadow: 0px 0px 10px black;
    display: flex;
    height: 50px;
    align-items: center;
}
.navbarLIn{
    display:flex;
    align-items:center;
}
.navbarLinks {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    width: 200px;
    margin: 0;
}
.nav-links {
    color: white;
    text-decoration: none;

}
@keyframes rotateInCircle {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(2deg);
    }
    70% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.nav-links:hover {
    color: lightblue;
    text-shadow: 0px 0px 5px lightblue;
    animation: rotateInCircle 0.3s linear infinite;
}
@media only screen and (max-width: 500px) {
    .EditProfileContainer {
        width: 350px;
    }

    .ShareDay {
        font-size: 25px;
    }

    .saysomething {
        width: 250px;
    }

    .ProfilePreviewCont {
        width: 250px;
    }
}